span {
	min-width: 170px;
	display: inline-block;
}
.filename h3 {
	cursor: pointer;
}
.form {
	display: flex;
}

.App h1 {
	padding: 15px;
	position: relative;
	top: -45px;
	font-size: 3.7rem;
	margin-bottom: 0;
}
